head
    title 15 puzzle game
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/game.css')
    link(rel='stylesheet', href='/styles/open-iconic-bootstrap.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
